In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('movies.csv')
df.columns = ['id','title','year','genres','directors','cast','rating','votes']

C:\Users\s.dulguun\AppData\Local\Temp\ipykernel_29284\3046438102.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies.csv')

In [30]:
df

,id,title,year,genres,directors,cast,rating,votes
0,tt0000009,Miss Jerry,1894,Romance,nm0085156,"['nm0063086', 'nm0183823', 'nm1309758']",5.4,215
1,tt0000502,Bohemios,1905,\N,nm0063413,"['nm0215752', 'nm0252720']",4.4,18
2,tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",nm0846879,"['nm0846887', 'nm0846894', 'nm1431224', 'nm300...",6.0,933
3,tt0000591,The Prodigal Son,1907,Drama,nm0141150,"['nm0906197', 'nm0332182', 'nm1323543', 'nm175...",5.7,28
4,tt0000615,Robbery Under Arms,1907,Drama,nm0533958,"['nm3071427', 'nm0581353', 'nm0888988', 'nm024...",4.3,27
...,...,...,...,...,...,...,...,...
321940,tt9916428,The Secret of China,2019,"Adventure,History,War",nm0910951,"['nm3611859', 'nm9445072', 'nm8594703', 'nm371...",3.6,19
321941,tt9916460,Pink Taxi,2019,Comedy,nm7048843,"['nm8796794', 'nm10538444', 'nm8691452', 'nm10...",8.9,19
321942,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm4457074,"['nm8678236', 'nm1417182', 'nm10041459', 'nm12...",8.3,9
321943,tt9916706,Dankyavar Danka,2013,Comedy,nm7764440,"['nm1778107', 'nm2585097', 'nm5697682', 'nm327...",8.4,8
321944,tt9916730,6 Gunn,2017,Drama,nm10538612,"['nm6096005', 'nm0059461', 'nm13233318', 'nm48...",7.0,12

In [25]:
df

,id,title,year,genres,directors,cast,rating,votes,concat
0,tt0000009,Miss Jerry,1894,Romance,nm0085156,"['nm0063086', 'nm0183823', 'nm1309758']",5.4,215,0 Miss Jerry\n1 ...
1,tt0000502,Bohemios,1905,\N,nm0063413,"['nm0215752', 'nm0252720']",4.4,18,0 Miss Jerry\n1 ...
2,tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",nm0846879,"['nm0846887', 'nm0846894', 'nm1431224', 'nm300...",6.0,933,0 Miss Jerry\n1 ...
3,tt0000591,The Prodigal Son,1907,Drama,nm0141150,"['nm0906197', 'nm0332182', 'nm1323543', 'nm175...",5.7,28,0 Miss Jerry\n1 ...
4,tt0000615,Robbery Under Arms,1907,Drama,nm0533958,"['nm3071427', 'nm0581353', 'nm0888988', 'nm024...",4.3,27,0 Miss Jerry\n1 ...
...,...,...,...,...,...,...,...,...,...
321940,tt9916428,The Secret of China,2019,"Adventure,History,War",nm0910951,"['nm3611859', 'nm9445072', 'nm8594703', 'nm371...",3.6,19,0 Miss Jerry\n1 ...
321941,tt9916460,Pink Taxi,2019,Comedy,nm7048843,"['nm8796794', 'nm10538444', 'nm8691452', 'nm10...",8.9,19,0 Miss Jerry\n1 ...
321942,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm4457074,"['nm8678236', 'nm1417182', 'nm10041459', 'nm12...",8.3,9,0 Miss Jerry\n1 ...
321943,tt9916706,Dankyavar Danka,2013,Comedy,nm7764440,"['nm1778107', 'nm2585097', 'nm5697682', 'nm327...",8.4,8,0 Miss Jerry\n1 ...
321944,tt9916730,6 Gunn,2017,Drama,nm10538612,"['nm6096005', 'nm0059461', 'nm13233318', 'nm48...",7.0,12,0 Miss Jerry\n1 ...

In [ ]:
df[df['title']]